<p id="notice"><%= notice %></p>

<p>
  <strong>A common name:</strong>
  <%= @adminagentname.a_common_name %>
</p>

<%= link_to 'Edit', edit_adminagentname_path(@adminagentname) %> |
<%= link_to 'Back', adminagentnames_path %>
