<p id="notice"><%= notice %></p>

<p>
  <strong>Optical:</strong>
  <%= @admintreatmentoptical.optical %>
</p>

<%= link_to 'Edit', edit_admintreatmentoptical_path(@admintreatmentoptical) %> |
<%= link_to 'Back', admintreatmentopticals_path %>
