<p id="notice"><%= notice %></p>

<p>
  <strong>Type of literatur:</strong>
  <%= @adminreferencetype.type_of_literatur %>
</p>

<%= link_to 'Edit', edit_adminreferencetype_path(@adminreferencetype) %> |
<%= link_to 'Back', adminreferencetypes_path %>
