<p id="notice"><%= notice %></p>

<p>
  <strong>M species:</strong>
  <%= @adminmatrixspec.m_species %>
</p>

<%= link_to 'Edit', edit_adminmatrixspec_path(@adminmatrixspec) %> |
<%= link_to 'Back', adminmatrixspecs_path %>
