<p id="notice"><%= notice %></p>

<p>
  <strong>Temperature:</strong>
  <%= @admintreatmenttemperature.temperature %>
</p>

<%= link_to 'Edit', edit_admintreatmenttemperature_path(@admintreatmenttemperature) %> |
<%= link_to 'Back', admintreatmenttemperatures_path %>
