<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_matrix.name %>
</p>

<%= link_to 'Edit', edit_admin_matrix_path(@admin_matrix) %> |
<%= link_to 'Back', admin_matrices_path %>
