<p id="notice"><%= notice %></p>

<p>
  <strong>Process type:</strong>
  <%= @admintreatmentprocesstype.process_type %>
</p>

<%= link_to 'Edit', edit_admintreatmentprocesstype_path(@admintreatmentprocesstype) %> |
<%= link_to 'Back', admintreatmentprocesstypes_path %>
