<p id="notice"><%= notice %></p>

<p>
  <strong>A genus:</strong>
  <%= @adminagentgenu.a_genus %>
</p>

<%= link_to 'Edit', edit_adminagentgenu_path(@adminagentgenu) %> |
<%= link_to 'Back', adminagentgenus_path %>
