<p id="notice"><%= notice %></p>

<p>
  <strong>Storage form:</strong>
  <%= @adminmatrixstorageform.storage_form %>
</p>

<%= link_to 'Edit', edit_adminmatrixstorageform_path(@adminmatrixstorageform) %> |
<%= link_to 'Back', adminmatrixstorageforms_path %>
