
  <div class="row carousel-holder">
    <div class="col-md-12">

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="item active" align="center">
            <%= image_tag ("spiced_logo_full.png") %>
          </div>
          <div class="item"  align="center">
            <%= image_tag ("lab1.png") %>
          </div>
          <div class="item"  align="center">
            <%= image_tag ("lab2.png") %>
          </div>
          <div class="item"  align="center">
             <%= image_tag ("lab3.png") %>
          </div>
        </div>

        
        <ol class="carousel-indicators" id="center">
          <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
          <li class="" data-slide-to="1" data-target="#carousel-example-generic"></li>
          <li class="" data-slide-to="2" data-target="#carousel-example-generic"></li>
          <li class="" data-slide-to="2" data-target="#carousel-example-generic"></li>
        </ol>
        

        <a class="left carousel-control" data-slide="prev" href="#carousel-example-generic" ><span id="center" class="icon-prev"></span></a>
        <a class="right carousel-control" data-slide="next" href="#carousel-example-generic"><span id="center" class="icon-next"></span></a>               
      </div>
    </div>
  </div>
