<p id="notice"><%= notice %></p>

<p>
  <strong>Plant part:</strong>
  <%= @adminmatrixplantpart.plant_part %>
</p>

<%= link_to 'Edit', edit_adminmatrixplantpart_path(@adminmatrixplantpart) %> |
<%= link_to 'Back', adminmatrixplantparts_path %>
