<p id="notice"><%= notice %></p>

<p>
  <strong>Detection method type:</strong>
  <%= @admindetectiontype.detection_method_type %>
</p>

<%= link_to 'Edit', edit_admindetectiontype_path(@admindetectiontype) %> |
<%= link_to 'Back', admindetectiontypes_path %>
