<p id="notice"><%= notice %></p>

<p>
  <strong>Mechanical:</strong>
  <%= @admintreatmentmechanical.mechanical %>
</p>

<%= link_to 'Edit', edit_admintreatmentmechanical_path(@admintreatmentmechanical) %> |
<%= link_to 'Back', admintreatmentmechanicals_path %>
