<p id="notice"><%= notice %></p>

<p>
  <strong>Steam:</strong>
  <%= @admintreatmentsteam.steam %>
</p>

<%= link_to 'Edit', edit_admintreatmentsteam_path(@admintreatmentsteam) %> |
<%= link_to 'Back', admintreatmentsteams_path %>
