<p id="notice"><%= notice %></p>

<p>
  <strong>A species:</strong>
  <%= @adminagentspec.a_species %>
</p>

<%= link_to 'Edit', edit_adminagentspec_path(@adminagentspec) %> |
<%= link_to 'Back', adminagentspecs_path %>
