<p id="notice"><%= notice %></p>

<p>
  <strong>Type of literatur:</strong>
  <%= @referencetype.type_of_literatur %>
</p>

<%= link_to 'Edit', edit_referencetype_path(@referencetype) %> |
<%= link_to 'Back', referencetypes_path %>
