<p id="notice"><%= notice %></p>

<p>
  <strong>Fumigation gas:</strong>
  <%= @admintreatmentfumigation.fumigation_gas %>
</p>

<%= link_to 'Edit', edit_admintreatmentfumigation_path(@admintreatmentfumigation) %> |
<%= link_to 'Back', admintreatmentfumigations_path %>
