<p id="notice"><%= notice %></p>

<p>
  <strong>Product form:</strong>
  <%= @adminmatrixproductform.product_form %>
</p>

<%= link_to 'Edit', edit_adminmatrixproductform_path(@adminmatrixproductform) %> |
<%= link_to 'Back', adminmatrixproductforms_path %>
