<p id="notice"><%= notice %></p>

<p>
  <strong>A family:</strong>
  <%= @adminagentfamily.a_family %>
</p>

<%= link_to 'Edit', edit_adminagentfamily_path(@adminagentfamily) %> |
<%= link_to 'Back', adminagentfamilies_path %>
