<p id="notice"><%= notice %></p>

<p>
  <strong>M genus:</strong>
  <%= @adminmatrixgenu.m_genus %>
</p>

<%= link_to 'Edit', edit_adminmatrixgenu_path(@adminmatrixgenu) %> |
<%= link_to 'Back', adminmatrixgenus_path %>
